.auto-center {
    margin: 0 auto;
}

.vw-wrapper {
    width: 100vw;
}

.vw-wrapper2 {
    width: 90vw; 
}

.vw-wrapper3 {
    width: 80vw;
}

.vw-wrapper4 {
    width: 10vw;
}

.vw-wrapper5 {
    width: 22vw;
}

.vw-wrapper6 {
    width: 25vw;
}

.separator {
    width: 20px;
}

.quiz {
    padding-top: 20px;
    padding-left: 20px;
}

.giphy {
    padding-top:10px;
}

.quiz2 {
    padding-bottom: 20px;
    padding-left: 20px;
}